
.logo-nav{
    border-radius: 20%;
}

.color-nav{
    background-color:rgb(10, 99, 63);
}

.navbar{
    color:rgb(10, 99, 63);
}

.logo-nav{
    width: 80px;
    height: 80px;
}

.nav-link{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.form-control{
    height: 30px;
}

.btn-outline-success{
    height: 30px;
    padding-top: 0px;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}


.carrusel-inicio{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

.logo-bajo-banner{
    display: flex;
    height: 200px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.masvendidos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 40px;
    padding: 0%;
}

.masvendidos__tt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
    color: #888f61;
    font-family: 'Dancing Script', cursive;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 100px;
    margin-bottom: 70px;
    padding-left: 30px;
    border-width: 8px;
}

.masvendidos__productos{
    background-color:#dde5b6;
    color: black;
    text-align: center;
    transition: 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    margin-bottom: 20px;
}

.masvendidos__productos:hover{
        transform: scale(1.05);
    
}


.masvendidosimg{
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 2px;
}

.productos-index{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 120px;
}

.masvendidos__nombre{
    font-family: 'Dancing Script', cursive;
    color: #888f61;
    font-size: 30px;
}

.masvendidos__precio{
    font-family: 'Roboto Condensed', sans-serif;
    color: #a7b078;
    font-size: 20px;
}

.masvendidos__boton{
    background-color: #a7b078 ;
    color: rgb(255, 255, 255);
    display: flex;
    margin-bottom: 20px;
    margin-left: 100px;
    border-radius: 6px;
    border-color: #888f61;
}

.estructuragral-plantas{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: (1,1fr);
    grid-template-rows: repeat (8, 1fr);
    margin-bottom: 120px;
}


.plantas-titulo-box{
    margin: 70px;
    display: flex;
    justify-content: center;
}

.plantas-tt{
    font-size: 60px;
    font-family:'Dancing Script', cursive;
    color: #a7b078;
}

.plantas1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.plantas2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}


.productosimg{
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 7px;
    display: flex;
    height: 280px;
    width: 250px;
    background-color: #a7b078;
    border-radius: 6px;
    transition: 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.productosimg:hover{
    transform: scale(1.05);
}



.footer{
    background-image: linear-gradient(to top, rgb(10, 99, 63), rgb(45, 214, 146));
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}


.footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer__secciones{
    display: flex;
    flex-direction: row;
}

.footer__linkredes{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer-lista{
    list-style: none;
}


@media (min-width: 768px){
    .estructuragral-plantas{
        grid-template-columns: 2fr;
        grid-template-rows: 4fr;
    }
}

@media (min-width: 1024px){
    .estructuragral-plantas{
        grid-template-columns: 4fr;
        grid-template-rows: 1fr;
    }
}