header {
    .navbar {
        background-color: rgb(10, 99, 63);

        .container-fluid {
            .logo-nav {
                border-radius: 20%;
                width: 80px;
                height: 80px;
            }
            .nav-link {
            color: rgb(255, 255, 255);
            font-size: 20px;
            }

            .form-control {
                height: 30px;
            }
            .btn-outline-success {
                height: 30px;
                padding-top: 0px;
                color: rgb(255, 255, 255);
                border-color: rgb(255, 255, 255);
            }
        }
    }
}

main{
    height: auto;
    background-color: #a7b078;

    h1{
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: 'Dancing Script';
    }
    h2{
        font-size: 28px;
        color: rgb(255, 255, 255);
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        width: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
        border-style: double;
        width: auto;
    }
    .cuerpo-consejo{
        ol{
            color: rgb(255, 255, 255);
            h3{
                font-size: 30px;
                margin-top: 35px;
                margin-bottom: 30px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-style: italic;
            }
            p{
                display: inline-block;
                width: 660px;
                font-size: 17px;
            }
        }
        .video{
            color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            .transplante{
                font-size: 25px;
                margin-top: 60px;
                margin-bottom: 25px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-style: italic;
                border-style: double;
                padding-left: 25%;
            }
            .reproductorvideo{
                margin-left: 25%;
                margin-top: 3%;
                margin-bottom: 7%;
            }
        }
    }
}
footer {
    background-color: rgb(10, 99, 63);
    color: rgb(255, 255, 255);
    @extend %estiloFooter;

    .footer__container {
        @extend %estiloFooter;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        

        .footer__secciones {
            @extend %estiloFooter;
            display: flex;
            flex-direction: column;
            margin-left: 130px;
            margin-right: 130px;
            align-items: center;

            .secciones {
                list-style: none;
                text-decoration: none;
                margin-top: 10px;
                margin-bottom: 10px;
                display: flex;
                text-decoration-color: rgb(255, 255, 255);
                font-size: 15px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                border-style: groove;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 30px;
            }

                .footer__formato{
                    font-size: 15px;
                    list-style: none;
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    text-align: start;
                    font-family:Georgia, 'Times New Roman', Times, serif;
                }

                .footer__redes{
                    margin: 10px;
                    
                    .mplogo{
                        width: 20px;
                        height: 20px;
                    }

                    .footer__linkredes {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    list-style: none;
                    }
                }
            }
        }
    }