header {
    .navbar {
        background-color: rgb(10, 99, 63);

        .container-fluid {
            .logo-nav {
                border-radius: 20%;
                width: 80px;
                height: 80px;
            }
            .nav-link {
            color: rgb(255, 255, 255);
            font-size: 20px;
            }

            .form-control {
                height: 30px;
            }
            .btn-outline-success {
                height: 30px;
                padding-top: 0px;
                color: rgb(255, 255, 255);
                border-color: rgb(255, 255, 255);
            }
        }
    }
}

main{
    height: 450px;
    background-color: #a7b078;
    h1{
    margin: 70px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: 'Dancing Script';
    }
}
footer {
    background-color: rgb(10, 99, 63);
    color: rgb(255, 255, 255);
    @extend %estiloFooter;

    .footer__container {
        @extend %estiloFooter;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        

        .footer__secciones {
            @extend %estiloFooter;
            display: flex;
            flex-direction: column;
            margin-left: 130px;
            margin-right: 130px;
            align-items: center;

            h4 {
                list-style: none;
                text-decoration: none;
                margin-top: 10px;
                display: flex;
                text-decoration-line: underline;
                text-decoration-color: rgb(255, 255, 255);
                font-size: 20px;
                font-family:Georgia, 'Times New Roman', Times, serif;
            }

            .footer-lista {
                list-style: none;
                text-decoration: none;
                text-align: start;
                font-size: 15px;
                font-family:Georgia, 'Times New Roman', Times, serif;

                .footer__redes{
                    margin: 10px;
                

                    .footer__linkredes {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    list-style: none;
                    }
                }
            }
        }
    }
}