header {
    .navbar {
        background-color: rgb(10, 99, 63);

        .container-fluid {
            .logo-nav {
                border-radius: 20%;
                width: 80px;
                height: 80px;
            }
            .nav-link {
            color: rgb(255, 255, 255);
            font-size: 20px;
            }

            .form-control {
                height: 30px;
            }
            .btn-outline-success {
                height: 30px;
                padding-top: 0px;
                color: rgb(255, 255, 255);
                border-color: rgb(255, 255, 255);
            }
        }
    }
}

.cuerpo-deco {
    .deco-titulo-box {
        margin: 70px;
        display: flex;
        justify-content: center;

        .deco-tt {
            font-size: 60px;
            color: #a7b078;
            @include fontStyle (#a7b078)
        }
    }

    section {
        display: grid;
        grid-template-columns: (1, 1fr);
        grid-template-rows: repeat (8, 1fr);
        margin-bottom: 120px;

        .deco1 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 30px;

            .deco-productos1{
                transition: 0.3s;
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease;
                transition-delay: 0s;
                &:hover {
                    transform: scale(1.05);
                    }
            }

                .decoimg {
                margin-top: 10px;
                margin-bottom: 25px;
                margin-right: 15px;
                margin-left: 15px;
                padding: 7px;
                display: flex;
                height: 280px;
                width: 250px;
                background-color: #a7b078;
                border-radius: 6px;

                }
                .deco-nombre {
                display: flex;
                font-size: 32px;
                justify-content: center;
                padding: 6px;
                @include fontStyle (#888f61)
                }

                .deco-precio {
                display: flex;
                justify-content: center;
                font-family: 'Roboto Condensed', sans-serif;
                color: #a7b078;
                font-size: 18px;
                }

                .deco-boton {
                background-color: #a7b078;
                color: rgb(255, 255, 255);
                border-color: #888f61;
                border-radius: 5px;
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease;
                transition-delay: 0s;
                margin-left: 70px;
                padding: 7px;
                    &:hover {
                    transform: scale(1.0);
                    background-color: rgb(255, 255, 255);
                    color: #a7b078;
                        }
                }
        }
    }
}

footer {
    background-color: rgb(10, 99, 63);
    color: rgb(255, 255, 255);
    @extend %estiloFooter;

    .footer__container {
        @extend %estiloFooter;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        

        .footer__secciones {
            @extend %estiloFooter;
            display: flex;
            flex-direction: column;
            margin-left: 130px;
            margin-right: 130px;
            align-items: center;

            .secciones {
                list-style: none;
                text-decoration: none;
                margin-top: 10px;
                margin-bottom: 10px;
                display: flex;
                text-decoration-color: rgb(255, 255, 255);
                font-size: 15px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                border-style: groove;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 30px;
            }

                .footer__formato{
                    font-size: 15px;
                    list-style: none;
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    text-align: start;
                    font-family:Georgia, 'Times New Roman', Times, serif;
                }

                .footer__redes{
                    margin: 10px;
                    
                    .mplogo{
                        width: 20px;
                        height: 20px;
                    }

                    .footer__linkredes {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    list-style: none;
                    }
                }
            }
        }
    }



@media (min-width: 768px) {
    .estructuragral-deco {
        grid-template-columns: 2fr;
        grid-template-rows: 4fr;
    }
}

@media (min-width: 1024px) {
    .estructuragral-deco {
        grid-template-columns: 4fr;
        grid-template-rows: 1fr;
    }
}