header {
    .navbar {
        background-color: rgb(10, 99, 63);

        .container-fluid {
            .logo-nav {
                border-radius: 20%;
                width: 80px;
                height: 80px;
            }
            .nav-link {
            color: rgb(255, 255, 255);
            font-size: 20px;
            }

            .form-control {
                height: 30px;
            }
            .btn-outline-success {
                height: 30px;
                padding-top: 0px;
                color: rgb(255, 255, 255);
                border-color: rgb(255, 255, 255);
            }
        }
    }
}
.cuerpo-plantas {
    .plantas-titulo-box {
        margin: 70px;
        display: flex;
        justify-content: center;

        .plantas-tt {
            font-size: 60px;
            color: #a7b078;
            @include fontStyle (#a7b078)
        }
    }

    section {
        display: grid;
        grid-template-columns: (1, 1fr);
        grid-template-rows: repeat (8, 1fr);
        margin-bottom: 120px;

        .plantas1 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 30px;

            .productosimg {
                margin-top: 10px;
                margin-bottom: 25px;
                margin-right: 15px;
                margin-left: 15px;
                padding: 7px;
                display: flex;
                height: 280px;
                width: 250px;
                background-color: #a7b078;
                border-radius: 6px;
                transition: 0.3s;
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease;
                transition-delay: 0s;
            }

            &:hover {
                transform: scale(1);
            }

            .productos-nombre {
                display: flex;
                font-size: 32px;
                justify-content: center;
                padding: 6px;
                @include fontStyle (#888f61)
            }

            .productos-precio {
                display: flex;
                justify-content: center;
                font-family: 'Roboto Condensed', sans-serif;
                color: #a7b078;
                font-size: 18px;
            }

            .productos-boton {
                background-color: #a7b078;
                color: rgb(255, 255, 255);
                border-color: #888f61;
                border-radius: 5px;
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease;
                transition-delay: 0s;
                margin-left: 70px;
                padding: 7px;
            }

            &:hover {
                transform: scale(1.0);
                background-color: rgb(255, 255, 255);
                color: #a7b078;
            }
        }
    }
}

footer {
    background-color: rgb(10, 99, 63);
    color: rgb(255, 255, 255);
    @extend %estiloFooter;

    .footer_container {
        @extend %estiloFooter;

        .footer_secciones {
            @extend %estiloFooter;

            .secciones {
                font-size: 30px;
            }

            .footer-lista {
                list-style: none;
                text-decoration: none;

                .footer__linkredes {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    list-style: none;
                }
            }
        }
    }
}


@media (min-width: 768px) {
    .estructuragral-plantas {
        grid-template-columns: 2fr;
        grid-template-rows: 4fr;
    }
}

@media (min-width: 1024px) {
    .estructuragral-plantas {
        grid-template-columns: 4fr;
        grid-template-rows: 1fr;
    }
}