@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");
footer .footer__container .footer__secciones, footer .footer__container, footer {
  display: flex;
  height: auto;
  width: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header .navbar {
  background-color: rgb(10, 99, 63);
}
header .navbar .container-fluid .logo-nav {
  border-radius: 20%;
  width: 80px;
  height: 80px;
}
header .navbar .container-fluid .nav-link {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
header .navbar .container-fluid .form-control {
  height: 30px;
}
header .navbar .container-fluid .btn-outline-success {
  height: 30px;
  padding-top: 0px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.carrusel-inicio {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

.logo-bajo-banner {
  display: flex;
  height: 200px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.productos-index {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 120px;
}
.productos-index .masvendidos__tt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 50px;
  color: #888f61;
  font-family: "Dancing Script", cursive;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 80px;
  margin-bottom: 70px;
  padding-left: 30px;
  border-width: 8px;
}
.productos-index .masvendidos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
  padding: 0%;
}
.productos-index .masvendidos .masvendidos__productos {
  background-color: #dde5b6;
  color: black;
  text-align: center;
  transition: 0.3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin-bottom: 20px;
}
.productos-index .masvendidos .masvendidos__productos:hover {
  transform: scale(1.05);
}
.productos-index .masvendidos .masvendidos__productos .masvendidosimg {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 2px;
}
.productos-index .masvendidos .masvendidos__productos .masvendidos__nombre {
  font-family: "Dancing Script", cursive;
  color: #888f61;
  font-size: 30px;
}
.productos-index .masvendidos .masvendidos__productos .masvendidos__precio {
  font-family: "Roboto Condensed", sans-serif;
  color: #a7b078;
  font-size: 20px;
}
.productos-index .masvendidos .masvendidos__productos .masvendidos__boton {
  background-color: #a7b078;
  color: rgb(255, 255, 255);
  display: flex;
  margin-bottom: 20px;
  margin-left: 100px;
  border-radius: 6px;
  border-color: #888f61;
}

footer {
  background-color: rgb(10, 99, 63);
  color: rgb(255, 255, 255);
}
footer .footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
footer .footer__container .footer__secciones {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  margin-right: 130px;
  align-items: center;
}
footer .footer__container .footer__secciones .secciones {
  list-style: none;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  -webkit-text-decoration-color: rgb(255, 255, 255);
          text-decoration-color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-style: groove;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}
footer .footer__container .footer__secciones .footer__formato {
  font-size: 15px;
  list-style: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: start;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer .footer__container .footer__secciones .footer__redes {
  margin: 10px;
}
footer .footer__container .footer__secciones .footer__redes .mplogo {
  width: 20px;
  height: 20px;
}
footer .footer__container .footer__secciones .footer__redes .footer__linkredes {
  text-decoration: none;
  color: rgb(255, 255, 255);
  list-style: none;
}

header .navbar {
  background-color: rgb(10, 99, 63);
}
header .navbar .container-fluid .logo-nav {
  border-radius: 20%;
  width: 80px;
  height: 80px;
}
header .navbar .container-fluid .nav-link {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
header .navbar .container-fluid .form-control {
  height: 30px;
}
header .navbar .container-fluid .btn-outline-success {
  height: 30px;
  padding-top: 0px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.cuerpo-plantas .plantas-titulo-box {
  margin: 70px;
  display: flex;
  justify-content: center;
}
.cuerpo-plantas .plantas-titulo-box .plantas-tt {
  font-size: 60px;
  color: #a7b078;
  color: #a7b078;
  font-weight: lighter;
  font-family: "Dancing Script";
}
.cuerpo-plantas section {
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: repeat 8, 1fr;
  margin-bottom: 120px;
}
.cuerpo-plantas section .plantas1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}
.cuerpo-plantas section .plantas1 .plantas-productos1 {
  transition: 0.3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.cuerpo-plantas section .plantas1 .plantas-productos1:hover {
  transform: scale(1.05);
}
.cuerpo-plantas section .plantas1 .productosimg {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 7px;
  display: flex;
  height: 280px;
  width: 250px;
  background-color: #a7b078;
  border-radius: 6px;
}
.cuerpo-plantas section .plantas1 .productos-nombre {
  display: flex;
  font-size: 32px;
  justify-content: center;
  padding: 6px;
  color: #888f61;
  font-weight: lighter;
  font-family: "Dancing Script";
}
.cuerpo-plantas section .plantas1 .productos-precio {
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #a7b078;
  font-size: 18px;
}
.cuerpo-plantas section .plantas1 .productos-boton {
  background-color: #a7b078;
  color: rgb(255, 255, 255);
  border-color: #888f61;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin-left: 70px;
  padding: 7px;
}
.cuerpo-plantas section .plantas1 .productos-boton:hover {
  transform: scale(1);
  background-color: rgb(255, 255, 255);
  color: #a7b078;
}

footer {
  background-color: rgb(10, 99, 63);
  color: rgb(255, 255, 255);
}
footer .footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
footer .footer__container .footer__secciones {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  margin-right: 130px;
  align-items: center;
}
footer .footer__container .footer__secciones .secciones {
  list-style: none;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  -webkit-text-decoration-color: rgb(255, 255, 255);
          text-decoration-color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-style: groove;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}
footer .footer__container .footer__secciones .footer__formato {
  font-size: 15px;
  list-style: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: start;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer .footer__container .footer__secciones .footer__redes {
  margin: 10px;
}
footer .footer__container .footer__secciones .footer__redes .mplogo {
  width: 20px;
  height: 20px;
}
footer .footer__container .footer__secciones .footer__redes .footer__linkredes {
  text-decoration: none;
  color: rgb(255, 255, 255);
  list-style: none;
}

@media (min-width: 768px) {
  .estructuragral-plantas {
    grid-template-columns: 2fr;
    grid-template-rows: 4fr;
  }
}
@media (min-width: 1024px) {
  .estructuragral-plantas {
    grid-template-columns: 4fr;
    grid-template-rows: 1fr;
  }
}
header .navbar {
  background-color: rgb(10, 99, 63);
}
header .navbar .container-fluid .logo-nav {
  border-radius: 20%;
  width: 80px;
  height: 80px;
}
header .navbar .container-fluid .nav-link {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
header .navbar .container-fluid .form-control {
  height: 30px;
}
header .navbar .container-fluid .btn-outline-success {
  height: 30px;
  padding-top: 0px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.cuerpo-deco .deco-titulo-box {
  margin: 70px;
  display: flex;
  justify-content: center;
}
.cuerpo-deco .deco-titulo-box .deco-tt {
  font-size: 60px;
  color: #a7b078;
  color: #a7b078;
  font-weight: lighter;
  font-family: "Dancing Script";
}
.cuerpo-deco section {
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: repeat 8, 1fr;
  margin-bottom: 120px;
}
.cuerpo-deco section .deco1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}
.cuerpo-deco section .deco1 .deco-productos1 {
  transition: 0.3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.cuerpo-deco section .deco1 .deco-productos1:hover {
  transform: scale(1.05);
}
.cuerpo-deco section .deco1 .decoimg {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 7px;
  display: flex;
  height: 280px;
  width: 250px;
  background-color: #a7b078;
  border-radius: 6px;
}
.cuerpo-deco section .deco1 .deco-nombre {
  display: flex;
  font-size: 32px;
  justify-content: center;
  padding: 6px;
  color: #888f61;
  font-weight: lighter;
  font-family: "Dancing Script";
}
.cuerpo-deco section .deco1 .deco-precio {
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #a7b078;
  font-size: 18px;
}
.cuerpo-deco section .deco1 .deco-boton {
  background-color: #a7b078;
  color: rgb(255, 255, 255);
  border-color: #888f61;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin-left: 70px;
  padding: 7px;
}
.cuerpo-deco section .deco1 .deco-boton:hover {
  transform: scale(1);
  background-color: rgb(255, 255, 255);
  color: #a7b078;
}

footer {
  background-color: rgb(10, 99, 63);
  color: rgb(255, 255, 255);
}
footer .footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
footer .footer__container .footer__secciones {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  margin-right: 130px;
  align-items: center;
}
footer .footer__container .footer__secciones .secciones {
  list-style: none;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  -webkit-text-decoration-color: rgb(255, 255, 255);
          text-decoration-color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-style: groove;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}
footer .footer__container .footer__secciones .footer__formato {
  font-size: 15px;
  list-style: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: start;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer .footer__container .footer__secciones .footer__redes {
  margin: 10px;
}
footer .footer__container .footer__secciones .footer__redes .mplogo {
  width: 20px;
  height: 20px;
}
footer .footer__container .footer__secciones .footer__redes .footer__linkredes {
  text-decoration: none;
  color: rgb(255, 255, 255);
  list-style: none;
}

@media (min-width: 768px) {
  .estructuragral-deco {
    grid-template-columns: 2fr;
    grid-template-rows: 4fr;
  }
}
@media (min-width: 1024px) {
  .estructuragral-deco {
    grid-template-columns: 4fr;
    grid-template-rows: 1fr;
  }
}
header .navbar {
  background-color: rgb(10, 99, 63);
}
header .navbar .container-fluid .logo-nav {
  border-radius: 20%;
  width: 80px;
  height: 80px;
}
header .navbar .container-fluid .nav-link {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
header .navbar .container-fluid .form-control {
  height: 30px;
}
header .navbar .container-fluid .btn-outline-success {
  height: 30px;
  padding-top: 0px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.cuerpo-contacto {
  height: auto;
  background-color: #a7b078;
  width: auto;
}
.cuerpo-contacto legend {
  font-family: "Dancing Script";
  font-size: 60px;
  color: rgb(255, 255, 255);
  padding-top: 60px;
  padding-bottom: 40px;
}
.cuerpo-contacto .formulario {
  margin-bottom: 15%;
}
.cuerpo-contacto .formulario .descripcion {
  margin-left: 25%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.cuerpo-contacto .formulario .form-control {
  border-color: #888f61;
  border-width: 5px;
  margin-left: 25%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.cuerpo-contacto .formulario .submitbotton {
  background-color: #888f61;
  color: rgb(255, 255, 255);
  border-color: #888f61;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin-left: 70px;
  padding: 7px;
  margin-top: 5%;
}
.cuerpo-contacto .formulario .submitbotton:hover {
  transform: scale(1);
  background-color: rgb(255, 255, 255);
  color: #888f61;
}

footer {
  background-color: rgb(10, 99, 63);
  color: rgb(255, 255, 255);
}
footer .footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
footer .footer__container .footer__secciones {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  margin-right: 130px;
  align-items: center;
}
footer .footer__container .footer__secciones .secciones {
  list-style: none;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  -webkit-text-decoration-color: rgb(255, 255, 255);
          text-decoration-color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-style: groove;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}
footer .footer__container .footer__secciones .footer__link {
  list-style: none;
}
footer .footer__container .footer__secciones .footer__formato {
  font-size: 15px;
  list-style: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: start;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer .footer__container .footer__secciones .footer__redes {
  margin: 10px;
  list-style: none;
}
footer .footer__container .footer__secciones .footer__redes .mplogo {
  width: 20px;
  height: 20px;
}
footer .footer__container .footer__secciones .footer__redes .footer__linkredes {
  text-decoration: none;
  color: rgb(255, 255, 255);
  list-style: none;
}

header .navbar {
  background-color: rgb(10, 99, 63);
}
header .navbar .container-fluid .logo-nav {
  border-radius: 20%;
  width: 80px;
  height: 80px;
}
header .navbar .container-fluid .nav-link {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
header .navbar .container-fluid .form-control {
  height: 30px;
}
header .navbar .container-fluid .btn-outline-success {
  height: 30px;
  padding-top: 0px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

main {
  height: auto;
  background-color: #a7b078;
}
main h1 {
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-family: "Dancing Script";
}
main h2 {
  font-size: 28px;
  color: rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  width: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  border-style: double;
  width: auto;
}
main .cuerpo-consejo ol {
  color: rgb(255, 255, 255);
}
main .cuerpo-consejo ol h3 {
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
main .cuerpo-consejo ol p {
  display: inline-block;
  width: 660px;
  font-size: 17px;
}
main .cuerpo-consejo .video {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
main .cuerpo-consejo .video .transplante {
  font-size: 25px;
  margin-top: 60px;
  margin-bottom: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  border-style: double;
  padding-left: 25%;
}
main .cuerpo-consejo .video .reproductorvideo {
  margin-left: 25%;
  margin-top: 3%;
  margin-bottom: 7%;
}

footer {
  background-color: rgb(10, 99, 63);
  color: rgb(255, 255, 255);
}
footer .footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
footer .footer__container .footer__secciones {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  margin-right: 130px;
  align-items: center;
}
footer .footer__container .footer__secciones .secciones {
  list-style: none;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  -webkit-text-decoration-color: rgb(255, 255, 255);
          text-decoration-color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-style: groove;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}
footer .footer__container .footer__secciones .footer__formato {
  font-size: 15px;
  list-style: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: start;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer .footer__container .footer__secciones .footer__redes {
  margin: 10px;
}
footer .footer__container .footer__secciones .footer__redes .mplogo {
  width: 20px;
  height: 20px;
}
footer .footer__container .footer__secciones .footer__redes .footer__linkredes {
  text-decoration: none;
  color: rgb(255, 255, 255);
  list-style: none;
}/*# sourceMappingURL=main.css.map */