%estiloFooter{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@mixin fontStyle ($colorletra) {
    color: $colorletra;
    font-weight: lighter;
    font-family: 'Dancing Script';
}